
/* NAV BAR */
.nav-item::after{content:'';display:block;width:0px;height:2px;background:#d75093;transition: 0.2s;}
.nav-item:hover::after{width:80%;}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#d75093;}
.nav-link{padding:15px 5px;transition:0.2s;}
.dropdown-item.active, .dropdown-item:active{color:#d75093;}
.dropdown-item:focus, .dropdown-item:hover{background:#d75093;}

.navbar {
    box-shadow: 0px 0px 3px 0px rgb(77, 77, 77);
}
    select option:checked {
        background: linear-gradient(#d75093, #d75093);
        background-color:#d75093!important; /* for IE */
        color:white !important;
    }

.card-btn{
background-color: #d75093;

}
