.navbar {
    box-shadow: 0px 0px 3px 0px rgb(77, 77, 77);
}
.user_card {
  height: 400px;
  width: 350px;
  margin-top: 80px;
  background: #e9e5e5;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #fa509d;
  padding: 5px;
  text-align: center;
}
.brand_logo {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 0px solid white;
}
.form_container {
  margin-top: 100px;
}
.login_btn{
  width: 270px;
  background-color: #fa509d;
  color: white;
}
.login_btn:hover{
  background-color: #db4588;
  color: white;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #221461 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #c0392b !important;
}
